<p>kavya works!</p>
<h1 *ngIf="kavyaa">hello i am kavya</h1>

<button (click)="toggle()">click</button>
<table>
    <tr *ngFor="let i of hello">
        <td>{{i.name}}</td>
        <td>{{i.age}}</td>
    </tr>
</table>

<h2 [ngClass]="'attract'">i am bold and independent</h2>


<h1 [ngClass]="{'attract':attractive}">hello there</h1>


<h1 [ngStyle]="{'background-color':color,'color':'green'}">Hi</h1>

<button [disabled]="disable">click</button>
<button (click)="togglebutton()">above</button>

<input type="text" name="username" placeholder="enter something" [(ngModel)]="inputtext">
<button [disabled]="!inputtext" (click)="hello1()">hello</button>

<table [ngClass]="'table'">
    <tr>
            <th>name</th>
            <th>age</th>
            <th>id</th>
    </tr>
    <tr *ngFor="let i of objj ">
        <td>{{i.name}}</td>
        <td>{{i.age}}</td>
        <td>{{i.name}}</td>

    </tr>
</table>