<nav>
  <a routerLink="/" routerLinkActive="active">Home</a>
  <a routerLink="/binding" routerLinkActive="active">Binding</a>
  <a routerLink="/calculator" routerLinkActive="active">Calculator</a>
  <a routerLink="/services" routerLinkActive="active">Services</a>
  <a routerLink="/customer" routerLinkActive="active">Customer List</a>
  <a routerLink="/ngdirectives" routerLinkActive="active">Ng Directives</a>
  <a routerLink="/parent" routerLinkActive="active">Communication</a>
  <a routerLink="/student" routerLinkActive="active">Student</a>
</nav>

<router-outlet></router-outlet>

<style>
  nav {
    margin-bottom: 20px;
  }

  a {
    margin-right: 15px;
    text-decoration: none;
    color: blue;
    font-size: large;
  }

  a:hover {
    color: rgb(139, 74, 0);
  }
</style>